*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h1{
  text-align: center;
  color: white;
}
p{
  display: inline;
  color: white;
}
button, select{
  padding: 2px 4px;
  color: lightblue;
  background-color: white;
  border: none;
  cursor: pointer;
}
button:disabled{
  opacity: 0.5;
}
.toggleBox{
  margin-top: 15px;
  margin-right: 10px;
}
.items{
  margin: 0 auto;
  width: 80%;
  border: none;
}

body{
    background-image: linear-gradient( to bottom, lightblue, white);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;

  }
#detectArea, #translateArea{
  width: 49%;
  display: inline-block;
  text-align: center;
}
textarea{
  width: 100%;
  resize: none;
  height: 300px;
  margin-top: 5px;
}
.toggleBox{
  text-align: right;
}
.toggle {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px; 
}
label{
  color: white;
}
.toggle label 
{
    display: inline; 

}
  
  input {
    opacity: 0;
    width: 0;
    height: 0; 
}
    input:checked + .slider {
      background-color: blue; }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196f3; }
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
      background-color: black; }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
  }
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: lightblue;
 }
  
  .round {
    border-radius: 34px; }
    .round:before {
      border-radius: 50%; }

      .footer{
        padding-top: 50px;
        height: 50px;
        text-align: center;
      }
      .footer p{
        
        color: lightblue;
      }
@media only screen and (max-width: 768px){

  .items{
    margin: 0 auto;
    width: 60%;
  }

  #detectArea, #translateArea{
    margin: 10px 0;
    width: 100%;
  }
  textarea{
    height: 210px;
  }
  
}